body, html {
    width:100%;
    height:100%;
}

label {
    color:#777;
}

.list-group-item i {
    font-size: 15pt;
    padding: 5px 0;
}

.list-group-item i:hover {
    cursor: pointer;
    color:#777;
}

.flex {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -ms-flex !important;
    display: -webkit-flex !important;
    display: flexbox !important;
    display: flex !important;
    min-height: 0;
    min-width: 0;
}

.flex-center {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-center-horizontal {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-center-vertical {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.flex-stretch {
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
}

.flex-align-bottom {
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
}

.flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-one {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-two {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.flex-three {
    -webkit-flex: 3 !important;
    -ms-flex: 3 !important;
    flex: 3 !important;
}

.flex-initial {
    -webkit-flex: initial !important;
    -ms-flex: initial !important;
    flex: initial !important;
}
